@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&family=Poppins:wght@100;200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@600;700&family=Dosis:wght@500&family=Libre+Baskerville:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,600&family=PT+Sans+Narrow:wght@700&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
:root {
  --white:#eaeaea;
  --blue:rgb(201, 201, 201);
}

*::-moz-selection {
  background: gold;
  color: var(--blue);
}

*::selection {
  background: gold;
  color: var(--blue);
}

body {
  background: #ffffff;
}

.text html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(164, 2, 2);
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
  width: 10px;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/ban1.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  animation: zoomIn 5s infinite;
  background-repeat: no-repeat;
}

@keyframes zoomIn {
  0% {
    background-size: 2000%;
  }
  100% {
    background-size: 180%; /* Adjust as needed for the zoom level */
  }
}
nav {
  display: flex;
  padding: 0% 3%;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.logo {
  width: 70px;
  position: relative;
  margin-left: -30px;
  padding-top: 5px;
}

.university {
  font-size: 19px;
  font-weight: 700;
  margin-left: 20px;
  color: white;
}

.e-cell-logo {
  width: 100px;
  border: 2px solid gold;
  border-radius: 50%;
}

nav .nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  background-image: linear-gradient(to right, #8c8c8c, #b2b2b2 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-links ul li a:before {
  content: "";
  background: #ffd75e;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-links ul li a:hover {
  background-position: 0;
}

.nav-links ul li a:hover::before {
  width: 100%;
}

.group {
  width: 100%;
  height: 30px;
  color: #000000;
  background: #e4e4e4;
  position: relative;
  overflow: hidden;
}

.group.text {
  position: absolute;
  margin: 5px 0;
  padding: 0;
  width: -moz-max-content;
  width: max-content;
}

.text-box {
  width: 90%;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.inp-cnt {
  width: 100%;
}

.inp-cnt ul {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 40px;
}

.inp-cnt ul li {
  margin: 20px;
}

.div1.abs {
  margin-bottom: 400px;
}

.text-box h1 {
  font-size: 40px;
  font-family: "Dosis", sans-serif;
}
.text-box h1 span {
  font-size: 40px;
}

.text-box h1 span {
  color: gold;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: var(--white);
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.hero-btn:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
}

nav .fa {
  display: none;
}

@media (max-width: 800px) {
  .university {
    font-size: 12px;
    margin-left: 10px;
  }
}
@media (max-width: 950px) {
  .nav-links ul li {
    display: block;
  }
  .nav-links ul li::after {
    display: none;
  }
  .nav-links ul :hover {
    background: var(--blue);
  }
  .nav-links ul :hover a {
    color: var(--white);
  }
  .nav-links {
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -250px;
    z-index: 2;
    transition: 1s;
    text-align: center;
  }
  .nav-links ul li {
    text-align: center;
    color: #000;
    font-weight: 550;
    transition: 0.5s;
    margin-bottom: 30px;
  }
  .nav-links ul li a {
    color: rgb(3, 3, 86);
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 20px;
    font-size: 22px;
    cursor: pointer;
  }
  nav .fa.fa-times {
    display: block;
    color: #000;
    margin: 20px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .text marquee {
    font-size: 10px;
  }
}
@media (max-width: 700px) {
  * {
    overflow-x: hidden !important;
  }
  .logo {
    width: 70px;
    padding-left: 40px;
    border: none !important;
    border-radius: 0 !important;
  }
  .e-cell-logo {
    width: 70px;
  }
  .inp-cnt ul li {
    margin: 10px;
    font-size: 11px;
  }
  .text-box h1 {
    font-size: 18px;
  }
  .text-box h1 span {
    font-size: 20px;
  }
}
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.course h1 {
  font-size: 36px;
  font-weight: 600;
}
.course p {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-gap: 50px;
  margin: 25px auto;
}

.rows {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: #fff;
  color: black;
  border-radius: 8px;
  margin-bottom: 5%;
  border: 0.5px solid black;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s !important;
  box-shadow: 10px -8px 0px #050505;
}
.course-col h3 {
  text-align: center;
  font-weight: 800;
  margin: 10px 0;
}

.course-col:hover {
  color: #010101;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px 0px #000000;
  border: 2.5px solid #000000;
}
.course-col:hover p {
  color: #000000;
}

@media (max-width: 700px) {
  .header {
    animation: none;
    min-height: 550px !important;
  }
  .row {
    grid-template-columns: 2, 2fr !important;
    position: relative;
    left: 0;
    right: 0;
  }
  .course {
    width: 100%;
  }
  .course h1 {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .row {
    grid-template-columns: 1fr;
    left: 0;
    right: 0;
  }
  .row .gallery {
    margin: auto;
  }
}
@media (max-width: 950px) {
  .row {
    grid-template-columns: 2, 2fr;
  }
  .rows {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  div.gallery {
    margin: 20px auto;
    width: 200px;
    height: 180px;
    transition: 0.2s;
    border: 2px solid #BD9F67;
    border-radius: 4px;
  }
  div.gallery img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(255, 251, 18, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: var(--blue);
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  font-weight: 600;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7) 50%), url(images/contact.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: var(--white);
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icon .fa {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.sub-header {
  width: 100%;
  background-position: center;
  background-size: contain;
  text-align: center;
  color: var(--white);
  border-bottom: 1px solid black;
}

.sub-header h1 {
  margin-top: 0px;
}

.about-us {
  width: 90%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col.one {
  flex-basis: 52%;
}

.about-col.two {
  flex-basis: 40%;
  padding: 30px 2px;
  padding-top: 130px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.gold-btn {
  border: 2px solid gold;
  background: transparent;
  color: gold;
  font-weight: 600;
  margin-left: 70px;
}

.sub-header h1 {
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.sub-header h1 span {
  font-weight: 900;
  color: gold;
}

.blog-content {
  width: 70%;
  margin: auto;
  padding: 60px 0;
}

.blog-left {
  flex-basis: 65%;
}

.blog-left img {
  width: 100%;
}

.blog-left h2 {
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}

.blog-left p {
  color: #999;
  padding: 0;
}

.blog-right {
  flex-basis: 32%;
}

.blog-right h3 {
  background: rgb(2, 2, 112);
  color: #fff;
  padding: 7px 0;
  padding-left: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  box-sizing: border-box;
  padding: 8px;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px;
  padding: 10px 20px;
}

.comment-box h3 {
  text-align: left;
}

.comment-form input, .comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form button {
  margin: 10px 0;
}

@media (max-width: 700px) {
  .sub-header h1 {
    font-size: 24px;
    margin-top: 100px;
  }
  .about-col.two {
    padding-top: 30px;
  }
  .about-col.one h1 {
    font-size: 25px;
  }
  .about-col.one p {
    text-align: center;
  }
}
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-coll {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: rgb(2, 2, 112);
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
  font-weight: 300;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 50x;
  color: #555;
  font-weight: 600;
}

.contact-col input, .contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.footer .icon a i {
  text-decoration: none;
  color: black;
}

.title {
  text-align: center;
  margin: 100px auto 50px;
}

.title h2 {
  font-size: 40px;
}

.title p {
  font-size: small;
  margin-top: 10px;
  line-height: 24px;
}

.profile-box {
  background: #fff;
  height: 240px;
  width: 260px;
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 0 10px 10px 10px rgba(115, 193, 255, 0.1);
  padding: 20px;
  position: relative;
  transition: background 0.5s;
  font-family: "sans-serif";
}

.profile-box img {
  width: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  transition: 0.5s;
}

.profile-box h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.profile-box small {
  color: #555;
}

.social-box {
  background: #000000;
  margin: 60px auto 20px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
}

.social-box .fa-brands, .social-box .fa {
  color: #fff;
  margin: 5px;
  cursor: pointer;
}

.profile-box p {
  font-size: 15px;
  text-align: center;
  line-height: 24px;
  color: #555;
}

.profile-box img:hover {
  width: 220px;
  height: 200px;
}

.profile-box:hover {
  background: #000000;
  color: rgb(255, 255, 255);
}

.profile-box:hover h4 {
  color: #fff;
}

.profile-box:hover p {
  color: #efefef;
}

.profile-box:hover small {
  color: #efefef;
}

.profile-box:hover .social-box {
  background: #fff;
}

.profile-box:hover .social-box .fa-brands {
  color: #000000;
}

.profile-box:hover .social-box .fa {
  color: #000000;
}

.profile-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.media i {
  padding-right: 10px;
}

@media (max-width: 700px) {
  .title {
    margin-left: auto;
  }
  .profile-box {
    flex-basis: 100%;
  }
  .title h2 {
    padding-top: 30px;
    font-size: 25px;
  }
  .title.blog h2 {
    font-size: 25px;
  }
  .title.blog p {
    font-size: 14px;
    width: 100%;
  }
  .title p {
    font-size: 12px;
  }
  .contact-col div span h5 {
    font-size: 13px;
    font-weight: 900;
  }
  .contact-col div span p {
    font-size: 11px;
  }
}
* {
  box-sizing: border-box;
}

.cont {
  margin-top: 50px;
  display: flex;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.counter-container {
  display: flex;
  flex-basis: 32%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .cont {
    flex-direction: column;
  }
}
footer {
  padding: 0;
  width: 100%;
  background: #fcfcfc;
  height: auto;
}

.footer-content {
  width: 100%;
  display: flex;
  background: rgb(2, 2, 2);
  color: #fff;
  justify-content: space-around;
  padding: auto;
  padding: 0 0 0 80px;
  position: sticky;
  left: 0;
  right: 0;
  font-size: 24px;
}

.div1 h4 {
  color: #ffffff;
}

.div1 h6 {
  color: #ffffff;
}

.div1 p a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

.div1 p a:hover {
  color: rgb(0, 106, 255);
}

footer p {
  font-size: 15px;
}

@media (max-width: 900px) {
  .footer-content {
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-left: -10px;
    padding: 0;
    padding-left: 20px;
  }
}
.div1 {
  padding: 20px;
  width: 350px;
}
.div1 span {
  margin-left: 10px;
}

.media i {
  padding-right: 10px;
}

.media .icon a {
  color: rgba(243, 243, 243, 0.9529411765);
  transition: 0.5s;
}

.media .icon a:hover {
  color: red;
}

hr {
  height: 1px;
  outline: none;
  border: none;
  padding: 0;
  margin-top: 3px;
  background: grey;
}

.blog-section {
  width: 100%;
}

.blog-section .section-content {
  width: 85%;
  margin: 20px auto;
}

.blog-section .section-content .title {
  width: 60%;
  text-align: center;
  margin: auto;
}

.blog-section .section-content .title h2 {
  font-size: 40px;
  color: #BD9F67;
  text-transform: capitalize;
}

.blog-section .section-content .title p {
  font-size: 18px;
  color: #6a6a6a;
  margin-top: 20px;
}

.blog-section .section-content .cards {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-gap: 50px;
  margin: 25px auto;
}

.blog-section .section-content .cards .card {
  width: 100%;
  position: relative;
  background: rgb(3, 3, 3);
  height: 500px;
  overflow: hidden;
  transition: 1.5s;
}

.blog-section .section-content .cards .card:hover {
  scale: 1.05;
}

.blog-section .section-content .cards .card img {
  width: 100%;
  height: 200px;
}

.blog-section .section-content .cards .card .article {
  padding: 15px 20px;
}

.blog-section .section-content .cards .card .article h4 {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.blog-section .section-content .cards .card .article p {
  font-size: 14px;
  margin: 10px 0;
  color: #fff;
}

.blog-section .section-content .cards .card a {
  text-decoration: none;
  display: inline-block;
  background-color: #000000;
  padding: 8px 15px;
  margin-left: 20px;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  margin-bottom: 20px;
  border-radius: 4px;
  bottom: 7px;
  position: absolute;
  transition: 0.5s;
}

.blog-section .section-content .cards .card a:hover {
  background-color: #ffffff;
  color: #000000;
}

.blog-section .section-content .cards .card .posted-date {
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #000000;
  padding: 6px 15px;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .blog-section .section-content .cards {
    grid-template-columns: repeat(2, 2fr);
  }
}
@media screen and (max-width: 700px) {
  .blog-section .section-content .cards {
    grid-template-columns: 1fr;
  }
  .blog-section .section-content .cards .card img {
    height: auto;
  }
  .blog-section .section-content .cards .card {
    height: auto;
  }
  .blog-section .section-content .cards .card a {
    position: relative;
  }
}
@media screen and (max-width: 550px) {
  .blog-section .section-content .title h2 {
    font-size: 25px;
    width: 100%;
  }
  .blog-section .section-content .title p {
    font-size: 14px;
    text-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: 340px) {
  .blog-section .section-content .title h2 {
    font-size: 25px;
  }
  .blog-section .section-content .title p {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .sub-header {
    background: url(images/400_2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.soon-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: url(images/timerbg.jpeg);
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.s-ctn {
  width: 70%;
  height: 450px;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(4, 9, 1, 0.2));
  border: 1px solid rgb(211, 209, 209);
  padding: 20px;
  position: relative;
  border-radius: 5px;
}

.soon-content {
  margin-top: 0;
  padding: 0;
}

.soon-content h1 {
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
  color: transparent;
}

.soon-content p {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.main1 {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.launch-time {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
}

.launch-time div {
  box-sizing: border-box;
  padding: 0px;
  border: 1px solid black;
  height: 120px;
  width: 120px;
  text-align: center;
  color: #fff;
  position: relative;
}

.launch-time div p {
  text-align: center;
  background: #fff;
  color: black;
  margin-bottom: 5px;
  padding: 20px;
  font-size: 27px;
  font-weight: 800;
}

.launch-time div span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 15px;
  background: #000;
  color: #fff;
}

.butn {
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  height: auto;
}

.butn input {
  border: 2px solid #fff;
  font-size: 16px;
  margin-top: 20px;
  padding: 4px 6px;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(rgba(58, 57, 57, 0.685), rgba(38, 37, 37, 0.773));
  color: #fff;
}

@media (max-width: 700px) {
  .launch-time div {
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 600px) {
  .launch-time {
    gap: 10px;
  }
  .launch-time div {
    height: 40px;
    width: 40px;
  }
  .launch-time div span {
    padding: 7px;
  }
}
@media (max-width: 500px) {
  .launch-time {
    gap: 10px;
  }
  .launch-time div {
    height: 30px;
    width: 300px;
  }
}
@media (max-width: 800px) {
  .launch-time {
    bottom: 80px;
  }
  .launch-time div {
    height: 80px;
    width: 80px;
  }
  .launch-time div p {
    font-size: 10px;
  }
  .launch-time div span {
    font-size: 10px;
    padding: 10px;
  }
  .soon-content p {
    font-size: 12px;
  }
  .butn a input {
    border: 2px solid red;
    font-size: 13px;
    margin-top: 20px;
    padding: 4px 6px;
  }
}
@media (max-width: 500px) {
  .soon-content h1 {
    font-size: 14px;
  }
  .soon-content p {
    font-size: 10px;
    margin-top: 0;
  }
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .content {
    font-size: 14px;
    overflow: scroll;
  }
  .content h2 {
    font-size: 16px;
  }
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
.qa-container {
  margin: 20px 0 0 0;
  padding: 0;
  color: #000000;
  height: auto;
  padding: 30px;
}

.heading h1 {
  text-align: center;
  color: #000000;
}

.qa-box {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.question {
  width: 100%;
  color: black;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  font-size: 19px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.answer ul {
  padding: 0 30px 0 30px;
}

.answer ul li {
  margin-top: 20px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease, padding 1s ease;
}

.show {
  max-height: 500px; /* Adjust as needed based on content height */
  padding: 10px; /* Add space around the content */
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding-left: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.question {
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 10px;
  padding-left: 10px !important;
}

@media (max-width: 700px) {
  .heading h1 {
    font-size: 20px;
  }
  .question {
    font-size: 14px;
    padding: 15px;
  }
}
/* Gradient Mix */
/* Gradient Text */
/* Gradient Text with Animation */
.gradient-text {
  font-size: 50px !important;
  font-weight: bold;
  background: linear-gradient(45deg, white, white, rgb(0, 0, 0), white, white);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 20px;
  animation: fluidGradient 10s ease infinite;
}

/* Animated Keyframes */
@keyframes fluidGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradient-text3 {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(0, 0, 0), white);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 20px;
  animation: fluidGradient 5s ease 1;
}

/* Animated Keyframes */
@keyframes fluidGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradient {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(45deg, white, white, rgb(0, 0, 0), white, white);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 20px;
  animation: fluidGradient 10s ease infinite;
}

/* Animated Keyframes */
@keyframes fluidGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*new banner*//*# sourceMappingURL=main.css.map */