@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&family=Poppins:wght@100;200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
:root {
  --white:#fff;
  --blue:rgb(3, 3, 86);
}

*::-moz-selection {
  background: gold;
  color: var(--blue);
}

*::selection {
  background: gold;
  color: var(--blue);
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: gold;
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/dsu\ acedemic\ logo.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  position: relative;
  margin-left: -30px;
  border: 1px solid gold;
  border-radius: 50%;
}

nav .nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box h1 span {
  color: gold;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: var(--white);
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.hero-btn:hover {
  background: gold;
  color: rgb(8, 27, 155);
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .logo {
    width: 70px;
    padding-left: 20px;
    border: none;
  }
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links ul :hover {
    background: var(--blue);
  }
  .nav-links ul :hover a {
    color: var(--white);
  }
  .nav-links {
    position: fixed;
    background: gold;
    height: 100vh;
    width: 150px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 2;
    transition: 1s;
  }
  .nav-links ul li {
    text-align: left;
  }
  .nav-links ul li a {
    color: rgb(3, 3, 86);
  }
  nav .fa {
    display: block;
    color: var(--white);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.course h1 {
  font-size: 36px;
  font-weight: 600;
}
.course p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 4px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.course-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
    width: 100%;
  }
  div.gallery {
    margin: 20px auto;
    width: 200px;
    height: 180px;
    transition: 0.2s;
    border: 2px solid #BD9F67;
    border-radius: 4px;
  }
}
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(255, 251, 18, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: var(--blue);
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  font-weight: 600;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.facilities-col p {
  padding: 0;
}

.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimonial-col p {
  padding: 0;
}
.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}

.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonial-col .fa {
  color: #f44336;
}

@media (max-width: 700px) {
  .testimonial-col img {
    margin-left: 0;
    margin-right: 15px;
  }
}
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: var(--white);
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icon .fa {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: var(--white);
}

.sub-header h1 {
  margin-top: 100px;
}

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.gold-btn {
  border: 2px solid gold;
  background: transparent;
  color: gold;
  font-weight: 600;
  margin-left: 70px;
}

.sub-header h1 {
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.sub-header h1 span {
  font-weight: 900;
  color: gold;
}

.blog-content {
  width: 70%;
  margin: auto;
  padding: 60px 0;
}

.blog-left {
  flex-basis: 65%;
}

.blog-left img {
  width: 100%;
}

.blog-left h2 {
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}

.blog-left p {
  color: #999;
  padding: 0;
}

.blog-right {
  flex-basis: 32%;
}

.blog-right h3 {
  background: rgb(2, 2, 112);
  color: #fff;
  padding: 7px 0;
  padding-left: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  box-sizing: border-box;
  padding: 8px;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px;
  padding: 10px 20px;
}

.comment-box h3 {
  text-align: left;
}

.comment-form input, .comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form button {
  margin: 10px 0;
}

@media (max-width: 700px) {
  .sub-header h1 {
    font-size: 24px;
  }
}
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-coll {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: rgb(2, 2, 112);
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
  font-weight: 300;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 50x;
  color: #555;
  font-weight: 600;
}

.contact-col input, .contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.footer .icon a i {
  text-decoration: none;
  color: black;
}

.title {
  text-align: center;
  margin: 100px auto 50px;
}

.title h2 {
  font-size: 40px;
}

.title p {
  font-size: small;
  margin-top: 10px;
  line-height: 24px;
}

.profile-box {
  background: #fff;
  height: 240px;
  width: 240px;
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 0 10px 10px 10px rgba(115, 193, 255, 0.1);
  padding: 20px;
  position: relative;
  transition: background 0.5s;
  font-family: "sans-serif";
}

.profile-box img {
  width: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  transition: 0.5s;
}

.profile-box h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.profile-box small {
  color: #555;
}

.social-box {
  background: #2196f3;
  margin: 60px auto 20px;
  text-align: center;
  border-radius: 3px;
}

.social-box .fa-brands {
  color: #fff;
  margin: 5px;
  cursor: pointer;
}

.profile-box p {
  font-size: 15px;
  text-align: center;
  line-height: 24px;
  color: #555;
}

.profile-box img:hover {
  width: 240px;
  height: 240px;
}

.profile-box:hover {
  background: #2196f3;
}

.profile-box:hover h4 {
  color: #fff;
}

.profile-box:hover p {
  color: #efefef;
}

.profile-box:hover small {
  color: #efefef;
}

.profile-box:hover .social-box {
  background: #fff;
}

.profile-box:hover .social-box .fa-brands {
  color: #2196f3;
}

.profile-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

@media (max-width: 700px) {
  .title {
    margin-left: 30px;
  }
  .profile-box {
    flex-basis: 100%;
  }
  .title h2 {
    padding-top: 30px;
    font-size: 30px;
  }
  .title p {
    font-size: 15px;
  }
}
* {
  box-sizing: border-box;
}

.cont {
  margin-top: 50px;
  display: flex;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/dsu\ acedemic\ logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.counter-container {
  display: flex;
  flex-basis: 32%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .cont {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */